
/* Custom css where css are writing or customized */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
}

h4 {
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 !important;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 !important;
}

/* line style */

li {
  list-style: none !important;
}

.logo-image {
  height: 70px;
}

/* buttons and backgrounds and colors */
.bg-carifika {
  background-color: #c5ad57 !important;
}

.bg-carifika-o {
  background: #2f4858;
}

.bg-blog {
  background: #fcfcfb !important;
}

.bg-ccc {
  background-color: #ccc;
}

.bg-about {
  background-color: #fbfbf8;
}

.bg-white {
  background-color: #fff !important;
}

.onwhite {
  color: #fff !important;
}

.on-cgold {
  color: #c5ad57 !important;
}

.on-blog {
  color: #2f4858 !important;
}

.big-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.9rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.big-btn.hero-start {
  padding: 1rem 2rem;
}

.mid-btn {
  padding: 0.45rem 2.3rem;
  border-radius: 4px;
  font-size: 16px;
}

.btn-sm {
  padding: 0.8rem 2.5rem;
  border-radius: 3px;
  font-size: 14px;
}

.btn-mini {
  padding: 0.15rem 1rem;
  border-radius: 3px;
  font-size: 14px;
}

.btn.ghost {
  background-color: transparent;
}

.btn.ghost.cord-white {
  color: #fff;
  border: 1px solid #fff;
}
